app-navbar {
    width: 100%;
    height: max-content;
}


h1 {
    font-size: 96px;
    color: white
}


section {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;

    background-image: url('./../../../../public/assets/img/1_hero/JPG/hero_bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;


    div {
        width: 100%;
    }


    #header-container {
        position: absolute;
        top: 25vh;

        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 24px;
            font-weight: normal;
            color: white
        }
    }
}