footer {
    margin-top: 16px;
    padding: 0 160px;
    height: 128px;

    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;


    #logoAndName {
        height: 44px;
    }


    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: red;
        }
    }
}