@font-face {
    font-family: 'raleway';
    src: url('./../public/assets/fonts/raleway-v36-latin-regular.ttf') format('truetype');
}


* {
    margin: 0;
}


body {
    font-family: 'raleway', Arial, Helvetica, sans-serif;
}