* {
    margin: 0;
    src: url('./../public/assets/fonts/raleway-v36-latin-regular.ttf') format('truetype');
}


@font-face {
    font-family: 'raleway';
}


.fontRaleway {
    font-family: 'raleway', Arial, Helvetica, sans-serif;
}